---
layout: default
---

{% include navbar.html %}

<section class="section">
  <div cass="container">
    <div class="columns">

      <div class="column is-8">
        <div id="keyCodeView"></div>
        <div id="player"></div>
        {% include control.html %}
        {% include change_speed.html %}
        {% include repeat.html %}
      </div>

      <div class="column is-4">
          {% include tab.html %}
      </div>

    </div>
  </div>

</section>

<script>
 var yt_player;
 var playList = new PlayList();
 var videoControlPane = new VideoControlPane();
 var playListPane = new PlayListPane();
 var searchPane = new SearchPane();
 var tabPane = new TabPane();
 var youtubeIframeApi = new YoutubeIframeAPI();
 var youtubeSearchApi = new YoutubeSearchAPI();

 function onYouTubeIframeAPIReady() {
     youtubeIframeApi.initPlayer();
     videoControlPane.setPlayerAPI(youtubeIframeApi);
 }

 function onPlayerReady() {
     if (playList[0]) videoControlPane.load(playList[0]);
 }

 function onPlayerStateChange(event) {
     if (event.data == YT.PlayerState.ENDED && playListPane.isAutoPlay) {
         videoControlPane.load(playList.nextOf(videoControlPane.video));
         videoControlPane.play();
     }
 }

 document.addEventListener("keydown", keyEvent => {
  document.getElementById("keyCodeView").innerHTML = keyEvent.key;
 });
</script>
