---
layout: default
---

{% include navbar.html %}

<section class="section">
  <div cass="container">
    <div class="columns">

      <div class="column is-8">
        <div id="player"></div>
        {% include control.html %}
        {% include change_speed.html %}
        {% include repeat.html %}
      </div>

      <div class="column is-4">
          {% include tab.html %}
      </div>

    </div>
  </div>

</section>

<script>
 var yt_player;
 var default_video = new Video('M7lc1UVf-VE');
 var playList = new PlayList();
 var youtubeIframeApi = new YoutubeIframeAPI();
 var videoControlPane = new VideoControlPane();
 var playListPane = new PlayListPane();

 function onYouTubeIframeAPIReady() {
     youtubeIframeApi.initPlayer(default_video);
     videoControlPane.setPlayerAPI(youtubeIframeApi);
 }
</script>
