<div class="box">
    <div class="columns is-vcentered is-multiline is-mobile has-text-centered">
        <div class="column is-12">
            <p class="heading">Speed</p>
        </div>
        <div class="column is-6 is-size-4">
            x <span id="speed">1.00</span>
        </div>
        <div class="column is-3">
            <span class="icon" id="video-control-speed-down">
                <i class="fas fa-2x fa-caret-down"></i>
            </span>
        </div>
        <div class="column is-3">
            <span class="icon" id="video-control-speed-up">
                <i class="fas fa-2x fa-caret-up"></i>
            </span>
        </div>
    </div>
</div>
