<div class="box has-text-centered">
	<div class="columns is-vcentered is-multiline is-mobile">
		<div class="column is-12">
			<p class="heading">Control</p>
		</div>
		<div class="column is-3">
			<span class="icon" id="video-control-back-to-top">
				<i class="fas fa-lg fa-step-backward"></i>
			</span>
		</div>
		<div class="column is-3">
			<span class="icon" id="video-control-backward">
				<i class="fas fa-lg fa-backward"></i>
			</span>
		</div>
		<div class="column is-3">
			<span class="icon" id="video-control-play">
				<i class="fas fa-lg fa-play" id="player-state"></i>
			</span>
		</div>
		<div class="column is-3">
			<span class="icon" id="video-control-forward">
				<i class="fas fa-lg fa-forward"></i>
			</span>
		</div>
	  </div>
</div>
