<div class="box has-text-centered">
    <p class="heading">
        <span id="repeat-toggle" onclick="toggleRepeat()">Repeat</span>
    </p>
    <div class="columns is-vcentered is-mobile">
        <div class="column">
            <span class="icon" onclick="repeatFrom()">
                <i class="fas fa-lg fa-redo"></i>
            </span>
            <input class="input is-small has-text-centered" type="number" id="repeatFrom" placeholder="FROM">
        </div>
        <div class="column is-2">
            〜
        </div>
        <div class="column is-5">
            <span class="icon" onclick="repeatTo()">
                <i class="fas fa-2x fa-angle-double-left"></i>
            </span>
            <input class="input is-small has-text-centered" type="number" id="repeatTo" placeholder="TO">
        </div>
    </div>
</div>
