<div class="field is-grouped">
    <p class="control is-expanded">
        <input class="input" type="text" placeholder="Find a video" id="query">
    </p>
    <p class="control">
        <button class="button is-info" id="youtube-api-search">
            <span class="icon is-small">
                <i class="fas fa-search"></i>
            </span>
        </button>
    </p>
    <p class="control">
        <button class="button" id="youtube-api-oauth">Auth</button>
    </p>
</div>

<div id="result"></div>
