<div class="columns">
  <div class="column is-12">
    <div class="dropdown" style="width: 100%; padding-right: 5px;">
      <div class="dropdown-trigger" style="width: 100%" id="video-dropdown-button">
        <button class="button" style="width: 100%" aria-haspopup="true" aria-controls="dropdown-menu">
          <span>Change video</span>
          <span class="icon is-small">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </button>
      </div>
      <div class="dropdown-menu" id="video-dropdown-menu" role="menu">
      </div>
    </div>
  </div>
</div>