<!DOCTYPE html>
<html>
  <head>
    <meta lang='ja'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Repeat YouTube Video</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="assets/css/player.css">
    <script src="https://kit.fontawesome.com/91b57af349.js"></script>
    <script src="assets/js/data_manager.js"></script>
    <script src="assets/js/history.js"></script>
    <script src="assets/js/control.js"></script>
    <script src="assets/js/speed.js"></script>
    <script src="assets/js/repeat.js"></script>
    <script src="assets/js/youtube_api.js"></script>
    <script src="assets/js/main.js"></script>
  </head>

  <body>
    {{ content }}
  </body>
</html>
